@tailwind base;
@tailwind components;
@tailwind utilities;   

.bg-image{
    background-image: url("../Assets/banner.jpg");
    background-size: 25%;
background-position: 80%;
}

@media only screen and (max-width: 942px) {
    .bg-image{
        background-image: none;
  }}
@media only screen and(min-width:300px), (max-width: 490px) {
    .skeleton-banner{
        width: 300px;
        margin-inline: 5px;
  }}
@media only screen and (max-width: 299px) {
    .skeleton-banner{
        width: 230px;
        margin-inline: 5px;
  }}